@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Common style area */

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    position: relative;
}

.button {
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
    transition: .3s;
}

.button:hover {
    background: #d87401;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Header and Nav-bar area */

.header-bg-color {
    background: rgba(255, 144, 14, 0.1);
}

.nav-bar .logo {
    color: #131313;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 100px;
}

.navigation ul {
    display: flex;
    gap: 30px;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    color: #424242;
}

.navigation ul li a:hover {
    color: #FF900E;
}

/* Header and Brand New area */

.brand-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.header-text h1 {
    margin-bottom: 50px;
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.header-text p {
    font-size: 16px;
    color: #727272;
}

.header-text h1,
p {
    text-align: center;
}

/* Main area */
/* Main area upper */

.main-area-upper {
    display: flex;
    justify-content: space-evenly;
    gap: 76px;
    align-items: center;
    flex: 1;
    padding-top: 109px;
}

.upper-left-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.upper-right-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upper-right-text .text {
    margin-bottom: 32px;
}

.text h2 {
    text-align: left;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 45px;
    color: #131313;
}

.quick-list-color {
    color: #727272;
}

.feature-color {
    color: #FF900E;
}

.text p {
    text-align: left;
    color: #727272;
}

/* Main area Middle */

.main-area-middle {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-top: 109px;
    gap: 146px;
}

.middle-left-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.border-color {
    border-left: 3px solid #FF900E;
    padding-left: 21px;
}

.middle-left-text .left {
    box-shadow: 0px 1px 3px gainsboro;
    border-radius: 5px;
    padding: 30px;
}

.left h4 {
    margin-bottom: 10px;
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.left p {
    color: #727272;
}

/* Big Button area */

.big-button>button {
    padding: 25px 30px;
    background: #FF900E;
    border: none;
    position: absolute;
    left: 42%;
    bottom: 38%;
    border-radius: 5px;
}

.big-button h1 {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.big-button p {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

/* Main area Bottom */

.main-area-bottom {
    padding-top: 109px;
}

.bottom-heading-text {
    margin-bottom: 100px;
}

.bottom-info {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #FF900E;
    padding: 45px 35px;
    border-radius: 8px;
    transition: .5s;
}

.info:hover {
    transform: scale(1.1)
}

.info img {
    width: 45px;
    height: 45px;
}

/* Sponsor area */

.sponsor {
    margin-top: 100px;
}

.sponsor .logo img {
    width: 166.76px;
    height: 50px;
}

.sponsor-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor-text .text h2,
.sponsor-text .text p {
    text-align: center;
}

.sponsor-text .text {
    margin-bottom: 60px;
}

.sponsor-text .logo {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 50px;
    filter: grayscale(100%);
}

/* Something Extra added */

@keyframes sliding {
    0% {
        background-color: yellow;
        left: 0;
        top: 0;
    }

    25% {
        top: 160px;
        background-color: red;
        transform: scale(.50);
    }

    50% {
        top: 0;
        background-color: yellow;
        transform: scale(1);
    }

    75% {
        top: 160px;
        background-color: red;
        transform: scale(.5);
    }

    100% {
        background-color: yellow;
        left: 450px;
        top: 0;
    }
}

.paragraph {
    margin: 50px auto;
    font-family: sans-serif;
    filter: grayscale(100%);
    background-color: rgba(255, 144, 14, 0.1);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.box {
    max-width: 500px;
    height: 200px;
    background-color: rgba(255, 144, 14, 0.1);
    border: none;
    border-radius: 25px;
    position: relative;
    margin: auto;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    animation: sliding 2s ease-in-out .5s infinite alternate;
    animation-play-state: running;
}

/* Footer area */

.footer {
    font-size: 20px;
    padding: 34px 300px;
    margin: 50px 0;
    color: #424242;
    background: #FFF4E7;
    border-radius: 8px;
}

/* Responsive area */

@media only screen and (max-width: 576px) {
    .nav-bar {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header-text h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .main-area-upper {
        flex-direction: column;
    }

    .upper-left-image-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-area-upper {
        align-items: stretch;
    }

    .upper-right-text {
        align-items: center;
    }

    .text h2,
    p {
        text-align: center;
    }

    .main-area-middle {
        flex-direction: column;
    }

    .border-color {
        border-left: none;
        border-bottom: 3px solid #FF900E;
        margin-bottom: 50px;
    }

    .big-button>button {
        position: absolute;
        left: 22%;
        bottom: 32%;
    }

    .bottom-heading-text {
        margin-top: 200px;
    }

    .bottom-heading-text .text p {
        text-align: center;
    }

    .bottom-info {
        flex-direction: column;
        gap: 5px;
    }

    .sponsor-text .logo {
        flex-direction: column;
        gap: 50px;
    }

    .footer {
        font-size: 14px;
        padding: 10px;
        margin-bottom: 0;
    }
}